.footer {
    background-color: white; 
    color: #333; 
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center; 
  }
  
  .footer-content {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
  }
  
  .footer-section {
    text-align: center; 
  }
  
  .footer-heading {
    font-family: 'Cormorant Garamond', serif;
    color: #000; /* Text color for Support, About Us, and Terms headings */
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-logo {
    margin-bottom: 20px; /* Add space below the logo */
  }
  
  .footer-logo img {
    max-width: 100%; /* Make the logo responsive */
    height: auto;
  }
  
  /* Media query for small screens */
  @media screen and (min-width: 768px) {
    .footer {
      flex-direction: row; /* Align items in a row on larger screens */
      justify-content: space-between;
      text-align: left; /* Reset text alignment for larger screens */
    }
  
    .footer-content {
      flex-direction: row; /* Align items in a row on larger screens */
    }
  
    .footer-logo {
      margin-bottom: 0; /* Remove space below the logo on larger screens */
    }
  }
  