.heritage-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Add some padding for better aesthetics */
    background-color: #f0f8ff; 
  }
  
  .heritage-text {
    width: 48%; /* Adjust the width as needed */
  }
  
  .heritage-heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .heritage-description {
    color: grey;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .know-more-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .heritage-image-container {
    width: 48%; /* Adjust the width as needed */
    text-align: right; /* Align the image to the right side */
  }
  
  .heritage-image {
    width: 400px;
    max-height: 200px; /* Adjust the max-height as needed */
    object-fit: cover;
    border-radius: 5px;
  }
  