.upper-header {
    background-color: #f8f8f8; /* Light background color */
    padding: 10px;
    text-align: center;
  }
  
  .upper-header-text {
    color: #333; /* Dark text color */
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px; /* Adjust the font size as needed */
    line-height: 1.5; /* Adjust the line height as needed */
  }